.bold {
  font-weight: bold;
}

.border-bottom {
  border-bottom: 1px solid lightgrey;
}

.clickable {
  cursor: pointer;
}

.inline-block {
  display: inline-block;
}

.no-margin {
  margin: 0;
}

.padding {
  padding: 30px 0;
  
  &.top-only {
    padding: 30px 0 0;
  }
  
  &.bottom-only {
    padding: 0 0 30px;
  }
  
  &.narrow {
    padding: 10px 0;
    
    &.top-only {
      padding: 10px 0 0;
    }
    
    &.bottom-only {
      padding: 0 0 10px;
    }
  }
  
  &.thick {
    padding: 60px 0;
    
    @include respondTo(mobile) {
      padding: 30px 0;
    }
    
    &.top-only {
      padding: 60px 0 0;
      
      @include respondTo(mobile) {
        padding: 30px 0 0;
      }
    }
    
    &.bottom-only {
      padding: 0 0 60px;
      
      @include respondTo(mobile) {
        padding: 0 0 30px;
      }
    }
  }
  
  &.center {
    padding: 17.5% 0;
  }
}

.relative {
  position: relative;
}

.small-logo {
  width: 60px;
  height: 60px;
  
  &.twitter {
    margin: 0 25px;
    border-radius: 5px;
    background-color: #55acee;
  }
}

.small-font {
  font-size: 0.9em;
}

.action-sidetext {
  margin-left: 10px;
  font-size: 0.8em;
  cursor: pointer;
  
  &:hover {
    color: #06b9d4;
  }
}

.valid {
  color: #4fdc0e;
}

.invalid {
  color: #ea0000;
}

.title {
  margin-top: 10px;
}

.logo-md {
  width: 100px;
  max-width: 100%;
}

.equal, .equal > div[class*='col-'] {  
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex:1 0 auto;
}