#site-header {
  position: relative;
  min-height: 60px;
  background-color: black;
  
  > div:first-of-type {
    position: relative;
    height: 60px;
  }
}

.btn {
  
  > .glyphicon {
    top: 2px;
    padding-left: 2px;
  }
}

.program-item {
  height: 50px;
  line-height: 50px;
  padding-left: 5px;
  
  &:nth-of-type(even) {
    background-color: #f4f4f4;
  }
  
  input[type="checkbox"] {
    //margin-top: 11px;
  }
  
  @include anchorStyles(black, black, false);
}

.week-item {
  line-height: 45px;
  
  &:nth-of-type(even) {
    background-color: #f4f4f4;
  }
  
  @include anchorStyles(black, black, false);
}

.bodypart {
  min-height: 83px;
  
  div[class*='col'] {
    min-height: inherit;
  }
}

.bodypart__stats {

}

.bodypart__stats__girth {
  position: absolute;
  bottom: 0;
  left: 10px;
  line-height: 37px;
}

.bodypart__stats__btn {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  
  &:hover {
    color: #06b9d4;
  }
}

