#nav-toggle {
  @include posY();
  right: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  z-index: 9000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;

  &:active,
  &:hover,
  &:focus {
    background: none;
  }
  
  .nav-toggle__pin {
    width: 32px;
    height: 2px;
    margin: 0;
    border-radius: 10px;
    background-color: white;
    
    &:nth-of-type(1n+2) {
      margin-top: 6px;  
    }
    
    &:nth-of-type(1) {
      -webkit-transition: -webkit-transform .4s;
      transition: transform .4s;
    }
    &:nth-of-type(2) {
      -webkit-transition: opacity .3s;
      transition: opacity .3s;
    }
    &:nth-of-type(3) {
      -webkit-transition: -webkit-transform .4s;
      transition: transform .4s;
    }
  }

  &.x {
    .nav-toggle__pin {
      margin: 12px 0;

      &:nth-of-type(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &:nth-of-type(2) {
        opacity: 0;
      }

      &:nth-of-type(3) {
        margin-top: -30px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }
}

#site-nav {
  display: none;
  border-top: 1px solid #3d3d3d;
}

.nav-choice {
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: white;
  
  @include anchorStyles(white, white, false);
}

.nav-box {
  height: 80px;
  line-height: 80px;
  margin-bottom: 5px;
  border: 1px solid lightgrey;
  background: linear-gradient(white, #e2e2e2);
  
  @include anchorStyles(black, black, false);
  
  .glyphicon {
    top: 5px;
    font-size: 1.4em;
  }
}

.nav-box__label {
  padding-left: 10px;
}