button[class*=' btn'] {
  @include transitions(all, 400ms, ease-in-out);
}

div[class*='col'] {
  height: inherit;
}

.btn {
  max-width: 100%;
  
  &:focus, 
  &:active:focus, 
  &.active:focus, 
  &.focus, 
  &:active.focus, 
  &.active.focus {
    outline: 0;
  }
  
  &.active,
  &:active {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}