<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10 relative">
    <back-button></back-button>
    <button id="nav-toggle" class="button" data-x-animation data-toggle-nav>
      <hr ng-repeat="pin in [1, 2, 3]" class="nav-toggle__pin">
    </button>
  </div>
  <div class="col-xs-1"></div>
</div>
<nav id="site-nav" class="padding narrow" ng-controller="NavCtrl">
  <div id="nav-dropdown">
    <ul>
      <li class="nav-choice" ng-repeat="choice in menu">
        <a ng-href="#{{choice.path}}" ng-bind="choice.label"></a>
      </li>
      <li class="nav-choice" ng-controller="AuthCtrl" ng-click="logout()" 
          ng-bind="'Logout'"></li>
    </ul>
  </div>
</nav>