<!DOCTYPE html>
<html lang="en" ng-app="gymApp" ng-controller="MainCtrl">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Content description here">
    <meta name="author" content="Christoffer Skogh">
    <!-- keywords for search engines other than Google -->
    <meta name="keywords" content="HTML, HTML5, CSS, CSS3, JavaScript, jQuery,  AngularJS, Firebase, frontend, design">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Gym diary | {{title}}</title>
    <!-- build:css assets/styles/style.min.css -->
    <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
    <link rel="stylesheet" href="assets/styles/style.css">
    <!-- /build -->
  </head>
  <body>
    <header id="site-header" ng-if="isAuth" 
            ng-include="'views/partials/navigation.html'"></header>
    <main ng-view></main>
    
    <!-- build:js assets/scripts/static/vendor.min.js -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <!-- /build -->
    
    <!-- build:js assets/scripts/static/main.min.js -->
    <script src="static/main.min.js"></script>
    <!-- /build -->
  </body>
</html>

