// Create a bouncing object
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translate(-50%, 0%) rotate(90deg);
    transform: translate(-50%, 0%) rotate(90deg);
  }
  40% {
    -webkit-transform: translate(-50%, 4%) rotate(90deg);
    transform: translate(-50%, 4%) rotate(90deg); 
  }
  60% {
    -webkit-transform: translate(-50%, 60%) rotate(90deg);
    transform: translate(-50%, 60%) rotate(90deg);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translate(-50%, 0%) rotate(90deg);
    transform: translate(-50%, 0%) rotate(90deg);
  }
  40% {
    -webkit-transform: translate(-50%, 4%) rotate(90deg);
    transform: translate(-50%, 4%) rotate(90deg);
  }
  60% {
    -webkit-transform: translate(-50%, 60%) rotate(90deg);
    transform: translate(-50%, 60%) rotate(90deg);
  } 
}