$colors: (
  primary : (
    light: #fff,
    base: #CCC,
    dark: #000
  ),
  secondary: (
    light: #fff,
    base: #CCC,
    dark: #000
  ),
  tertiary: (
    light: #fff,
    base: #CCC,
    dark: #000
  )
);

$breakpoints : (
  mobile: 480px,
  small-tablet: 600px,
  tablet: 768px,
  desktop: 1024px,
  small-widescreen: 1300px,
  standard-widescreen: 1600px
);