<div class="container-fluid" ng-controller="BodyCtrl">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 border-bottom padding narrow">
      <h4 class="no-margin pull-left">Body</h4>
    </div> <!-- /col-xs-10 -->
    <div class="col-xs-1"></div>
  </div> <!-- /row -->
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <ul class="row">
        <li class="col-xs-12 padding bodypart" ng-repeat="bodypart in body">
          <div class="row equal">
            <div class="col-xs-4">
              <img ng-src="assets/images/icons/{{bodypart.icon.src}}" 
                   alt="{{bodypart.icon.alt}}" class="logo-md">
            </div>
            <div class="col-xs-8 bodypart__stats relative">
              <div class="bodypart__stats__girth">
                <h2 class="pull-left no-margin">28cm</h2>
                <div class="pull-right relative">
                  <span class="action-sidetext">Update</span>
                </div>
              </div>
              <button class="bodypart__stats__btn btn btn-xs"
                      ng-click="bodypart.isToggled ? bodypart.isToggled = false : bodypart.isToggled = true">
                <span>{{!bodypart.isToggled ? 'Show' : 'Hide'}} stats</span>
                <span class="glyphicon" 
                      ng-class="{'glyphicon-circle-arrow-up': bodypart.isToggled,
                                 'glyphicon-circle-arrow-down': !bodypart.isToggled}">
                </span>
              </button>
            </div>
          </div>
          <div class="row" ng-show="bodypart.isToggled">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-6 padding top-only">
                  <span class="small-font">Growth (cm)</span>
                  <h3 class="no-margin padding narrow top-only">5cm
                    <span class="glyphicon" 
                          ng-class="{'glyphicon-circle-arrow-up':
                                     bodypart.growth.isPositive, 
                                     'glyphicon-circle-arrow-down':
                                     !bodypart.growth.isPositive}"></span>
                  </h3>
                </div>
                <div class="col-xs-6 padding top-only">
                  <span  class="small-font">Growth (%)</span>
                  <h3 class="no-margin padding narrow top-only">+5%
                    <span class="glyphicon" 
                          ng-class="{'glyphicon-circle-arrow-up':
                                     bodypart.growth.isPositive, 
                                     'glyphicon-circle-arrow-down':
                                     !bodypart.growth.isPositive}"></span>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> <!-- /col-xs-10 -->
    <div class="col-xs-1"></div>
  </div> <!-- /row -->
</div> <!-- /container-fluid -->