<div class="container-fluid" ng-controller="DietCtrl">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 border-bottom padding narrow">
      <h4 class="no-margin pull-left">Diet</h4>
    </div> <!-- /col-xs-10 -->
    <div class="col-xs-1"></div>
  </div> <!-- /row -->
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 border-bottom padding narrow relative">
      <button class="btn btn-xs btn-success" 
              ng-click="actions.add ? actions.add = false : actions.add = true">
        <span>New week</span>
        <span class="glyphicon glyphicon-plus"></span>
      </button>
      <button class="btn btn-xs btn-danger pull-right" ng-click="deleteWeeks()">
        <span>Delete weeks</span>
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div> <!-- /col-xs-10 -->
    <div class="col-xs-1"></div>
  </div> <!-- /row -->
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 border-bottom padding narrow">
      <input type="checkbox" id="check-all" ng-model="checkAll">
      <label for="check-all" class="clickable">Check all</label>
      <span class="invalid pull-right" ng-bind="delError"></span>
    </div> <!-- /col-xs-10 -->
    <div class="col-xs-1"></div>
  </div> <!-- /row -->
  <div class="row padding narrow top-only" ng-if="actions.add">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <div class="form-group">
        <div class="row">
          <label for="week-number">Week Number:</label>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <input type="text" placeholder="1-53"
                   id="week-number" class="form-control" 
                   ng-model="week.number">
          </div>
          <div class="-col-xs-9"></div>
        </div>
      </div> <!-- /form-group -->
      <div class="form-group">
        <div class="row">
          <label for="start-day">Start date:</label>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <input type="text" placeholder="DD" 
                   id="start-day" class="form-control" 
                   ng-model="week.startDate.day">
          </div>
          <div class="col-xs-1"></div>
          <div class="col-xs-3">
            <input type="text" placeholder="MM" class="form-control" 
                   ng-model="week.startDate.month">
          </div>
          <div class="col-xs-1"></div>
          <div class="col-xs-4">
            <input type="text" placeholder="YYYY" class="form-control" 
                   ng-model="week.startDate.year">
          </div>
        </div>
      </div> <!-- /form-group -->
      <div class="form-group">
        <div class="row">
          <label for="end-day">End date:</label>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <input type="text" placeholder="DD" 
                   id="start-day" class="form-control" 
                   ng-model="week.endDate.day">
          </div>
          <div class="col-xs-1"></div>
          <div class="col-xs-3">
            <input type="text" placeholder="MM" class="form-control" 
                   ng-model="week.endDate.month">
          </div>
          <div class="col-xs-1"></div>
          <div class="col-xs-4">
            <input type="text" placeholder="YYYY" class="form-control" 
                   ng-model="week.endDate.year">
          </div>
        </div>
      </div> <!-- /form-group -->
      <div class="text-center">
        <button class="btn btn-primary btn-md" 
                ng-click="addWeek(week)">
          <span>Create</span>
          <span class="glyphicon glyphicon-ok"></span>
        </button>
      </div>
    </div>
    <div class="col-xs-1"></div>
  </div>
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 padding narrow">
      <div class="row">
        <div class="col-xs-12">
          <span class="h5 bold no-margin">Week</span>
        </div>
      </div>
    </div>
    <div class="col-xs-1"></div>
  </div>
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <ul class="padding bottom-only">
        <li class="row week-item" ng-repeat="week in weeks">
          <div class="col-xs-1">
            <input type="checkbox" ng-model="week.checked" 
                   ng-click="addKey(week.key)">
          </div>
          <div class="col-xs-10">
            <a ng-href="#/diet/{{week.key}}">
              <h1 class="pull-left no-margin" ng-bind="week.number"></h1>
            </a>
              <span class="small clickable" ng-click="week.edit ? week.edit = false : week.edit = true">Edit</span>
              <input type="text" ng-show="week.edit">
          </div>
          <a ng-href="#/diet/{{week.key}}">
            <div class="col-xs-1">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </div>
          </a>
        </li>
      </ul>
    </div> <!-- /col-xs-10 -->
    <div class="col-xs-1"></div>
  </div> <!-- /row ng-repeat -->
</div> <!-- /container-fluid -->