<div class="container-fluid">
  <ul ng-controller="NavCtrl">
    <li class="nav-box row" ng-repeat="box in navBoxes">
      <a ng-href="#{{box.path}}">
        <div class="col-xs-1"></div>
        <div class="col-xs-9">
          <span class="glyphicon glyphicon-list-alt"></span>
          <span class="nav-box__label" ng-bind="box.label"></span>
        </div>
        <div class="col-xs-2">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
      </a>
    </li>
  </ul>
</div>