<div class="container-fluid padding center text-center">
  <h1>Gym Diary</h1>
  <h5>Do either of the following</h5>
  <div class="padding narrow top-only">
    <a href="#/login">
      <button class="btn btn-md btn-primary">Log in</button>
    </a>
  </div>
  <div class="padding narrow">
    <span><strong>or</strong></span>
  </div>
  <div>
    <a href="#/register">
      <button class="btn btn-md btn-info">Register</button>
    </a>
  </div>
</div>