<div class="container-fluid" ng-controller="ProgramCtrl">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 border-bottom padding narrow">
      <h4 class="no-margin pull-left">Programs</h4>
    </div> <!-- /col-xs-10 -->
    <div class="col-xs-1"></div>
  </div> <!-- /row -->
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 border-bottom padding narrow relative">
      <button class="btn btn-xs btn-success" 
              ng-click="actions.add === false ? actions.add = true : actions.add = false">
        <span>Add</span>
        <span class="glyphicon glyphicon-plus"></span>
      </button>
      <button class="btn btn-xs btn-danger pull-right" ng-click="deleteRecords()">
        <span>Delete</span>
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div> <!-- /col-xs-10 -->
    <div class="col-xs-1"></div>
  </div> <!-- /row -->
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 border-bottom padding narrow">
      <input type="checkbox" id="check-all" ng-model="checkAll">
      <label for="check-all" class="clickable">Check all</label>
      <span class="invalid pull-right" ng-bind="delError"></span>
    </div> <!-- /col-xs-10 -->
    <div class="col-xs-1"></div>
  </div> <!-- /row -->
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <div class="padding narrow top-only input-group" ng-show="actions.add">
        <input type="text" placeholder="Name of program" class="form-control" 
               ng-model="program.label" ng-enter="addProgram(program)">
        <span class="input-group-btn">
          <button class="btn btn-primary" 
                  ng-click="addProgram(program)">Add</button>
        </span>
      </div>
      <div class="invalid">
        <span ng-bind="addError"></span>
      </div>
    </div> <!-- /col-xs-10 -->
    <div class="col-xs-1"></div>
  </div> <!-- /row -->
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <ul class="padding bottom-only">
        <li class="row program-item" ng-repeat="program in programs">
          <div class="col-xs-1">
            <input type="checkbox" ng-model="program.checked" 
                   ng-click="addKey(program.key)">
          </div>
          <div class="col-xs-10">
            <a ng-href="#/programs/{{program.key}}">
              <span class="bold" ng-bind="program.label"></span>
            </a>
              <span class="small clickable" 
                    ng-click="program.edit ? program.edit = false : program.edit = true">Edit</span>
              <span ng-bind="program.key"></span>
              <input type="text" ng-show="program.edit">
          </div>
          <div class="col-xs-1">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </div>
        </li>
      </ul>
    </div> <!-- /col-xs-10 -->
    <div class="col-xs-1"></div>
  </div> <!-- /row -->
</div>