<div class="container-fluid padding" ng-controller="AuthCtrl">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <back-button></back-button>
    </div>
    <div class="col-xs-1"></div>
  </div>
  <div class="row padding thick top-only">
    <div class="col-xs-1 visible-xs"></div>
    <div class="col-xs-10 col-sm-4 col-sm-offset-4">
      <h1>Registration</h1>
      <form novalidate class="padding">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" class="form-control" 
                 ng-model="newUser.email">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="confirm-pass" class="form-control" 
                 ng-model="newUser.password">
        </div>
        <div class="form-group">
          <label for="confirm-pass">Confirm password:</label>
          <input type="password" id="confirm-pass" class="form-control"
                 ng-model="newUser.confirmedPass">
        </div>
        <div ng-class="{padding: status.message}" class="row">
          <div class="col-xs-10 col-xs-offset-1 text-center">
            <span class="invalid" ng-bind="status.message"></span>
          </div>
        </div>
        <div class="text-center">
          <button ng-click="register(newUser)" 
                  class="btn btn-primary">Register</button>
        </div>
      </form>
    </div>
    <div class="col-xs-1 visible-xs"></div>
  </div>
</div>