<div class="container-fluid" ng-controller="SingleProgramCtrl">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 border-bottom padding narrow">
      <h1 ng-bind="program.label"></h1>
    </div> <!-- /col-xs-10 -->
    <div class="col-xs-1"></div>
  </div> <!-- /row -->
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 border-bottom padding narrow">
      <button class="btn btn-xs btn-success" 
              ng-click="actions.add ? actions.add = false : actions.add = true">
        <span>Add exercise</span>
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div> <!-- /col-xs-10 -->
    <div class="col-xs-1"></div>
    <div class="invalid">
      <span ng-bind="addError"></span>
    </div>
  </div> <!-- /row -->
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 padding narrow" ng-class="{'border-bottom': !delError}">
      <input type="checkbox" id="check-all" ng-model="checkAll">
      <label for="check-all" class="clickable">Check all</label>
      <button class="btn btn-xs btn-danger pull-right" ng-click="deleteExercises()">
        <span>Delete marked</span>
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div> <!-- /col-xs-10 -->
    <div class="col-xs-1"></div>
  </div> <!-- /row -->
  <div class="row padding narrow bottom-only border-bottom" ng-if="delError">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <span class="invalid pull-right" ng-bind="delError"></span>
    </div>
    <div class="col-xs-1"></div>
  </div>
  <!-- "form" for adding exercise -->
  <div class="row padding narrow" ng-show="actions.add">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <div class="row box">
        <div class="row">
          <div class="col-xs-7">
            <input type="text" placeholder="Exercise name" 
                   class="form-control small-font" ng-model="exercise.label">
          </div>
          <div class="col-xs-1"></div>
          <div class="col-xs-4">
            <input type="number" placeholder="Kg" class="form-control small-font" 
                   ng-model="exercise.weight">
          </div>
        </div> <!-- /row -->
        <div class="row padding narrow">
          <div class="col-xs-3">
            <input type="number" placeholder="S" class="form-control small-font" 
                   ng-model="exercise.sets">
          </div>
          <div class="col-xs-1"></div>
          <div class="col-xs-3">
            <input type="number" placeholder="R" class="form-control small-font" 
                   ng-model="exercise.reps">
          </div>
          <div class="col-xs-1"></div>
          <div class="col-xs-4">
            <button class="btn btn-primary" 
                    ng-click="addExercise(exercise)">Confirm</button>
          </div>
        </div> <!-- /row -->
      </div> <!-- /row box -->
    </div> <!-- /col-xs-10 -->
    <div class="col-xs-1"></div>
  </div> <!-- /row -->
  <!-- /"form" -->
  <div class="row padding narrow" ng-repeat="exercise in exercises">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <div class="row box">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="no-margin" ng-bind="exercise.label"></h2>
            <span ng-bind="exercise.key"></span>
          </div>
        </div> <!-- /row -->
        <div class="row padding narrow border-bottom">
          <div class="col-xs-1">
            <span class="h3" ng-bind="exercise.sets"></span>
          </div>
          <div class="col-xs-1 text-center">
            <span>x</span>
          </div>
          <div class="col-xs-1 text-right">
            <span class="h3" ng-bind="exercise.reps"></span>
          </div>
          <div class="col-xs-1"></div>
          <div class="col-xs-8 text-right">
            <span class="h3" ng-bind="exercise.weight + 'kg'"></span>
          </div>
        </div> <!-- /row -->
        <div class="row padding narrow">
          <div class="col-xs-4">
            <input type="checkbox" id="{{checkbox + $index}}" 
                   ng-model="exercise.checked" 
                   ng-click="addKey(exercise.key)">
            <label for="{{checkbox + $index}}" class="clickable">Mark</label>
          </div>
          <div class="col-xs-8">
            <span class="small-font" 
                  ng-class="{valid: exercise.updateStatus, 
                             invalid: exercise.updateStatus}"
                  ng-bind="exercise.updateStatus ? 'Saved!' : 
                           exercise.updateStatus === undefined ? '' : 'Failed'">
            </span>
            <button class="btn btn-success btn-xs pull-right"
                    ng-click="updateExercise(exercise); exercise.edit = false"
                    ng-if="exercise.edit">Save changes</button>
            <button class="btn btn-danger btn-xs pull-right"
                    ng-click="delExercise(exercise.key)"
                    ng-if="!exercise.edit">Delete</button>
            <button class="btn btn-primary btn-xs pull-right button-spacing"
                    ng-click="exercise.edit ? exercise.edit = false : exercise.edit = true"
                    ng-if="!exercise.edit">Edit</button>
          </div>
        </div>
      </div> <!-- /row box -->
    </div> <!-- /col-xs-10 -->
    <div class="col-xs-1"></div>
  </div> <!-- /row -->
</div>

